.diagnosisPageContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
    color: #2c3e50;
  }
  }

